nav{
    .nav justify-content-center{
        .nav-item{
            a{
                color: $colornegro;
                a:hover{
                    color:$colornaran;
                }
            }
        }
    }
}